.header {
    text-align: justify;
    letter-spacing: 1px;
    height: 8em;
    padding: 0em 5%;
    background: #4033ff;
    color: #ffe600;
}
.font {
    display: inline-block;
    vertical-align: middle;
    text-align: left;
    font-variant:  contextual;
    font-family: Snell Roundhand, serif;
    font-style: italic;
}
.background{
    background-color: #686664;
}
.container {
    max-width: 1200px;
    margin: 0 auto;
    padding: 0 15px;
    min-width: 1000px;
    background-color: #686664;
}